# Exclude from composer archive (packagist export)
/.gitattributes  export-ignore
/.gitignore      export-ignore

# Prevent GitHub Linguist from detecting Python as the repo language
netbox-configuration/** linguist-vendored
